### Блок аппаратной конфигурации ###

##############################################
##                    MCU                   ##
##############################################
[include MCU.cfg]
###############################################

##############################################
##                    MMU                   ##
##############################################
#[include mmu/base/*.cfg]
#[include mmu/optional/client_macros.cfg]
#[include mmu/addons/mmu_erec_cutter.cfg]
#[include Config/Hardware/mmu.cfg]
###############################################


##############################################
##                  KINEMATIC              ##
##############################################
[include Config/Hardware/Kinematic/Kinematic.cfg]
##############################################

##############################################
##                   AXES                   ##
##############################################
[include Config/Hardware/Axis/X/X_axis.cfg]
[include Config/Hardware/Axis/Y/Y_axis.cfg] 
[include Config/Hardware/Axis/Z/Z_axis.cfg] 
###############################################

###################################################
##                   PROBE                       ##
###################################################
#[include Config/Hardware/Probe/BTT_microprobe.cfg]
#[include Config/Hardware/Probe/BTT_eddy.cfg]
[include Config/Hardware/Probe/BTT_eddy/BTT_eddy_ng.cfg]

###################################################

################################################################
##            Temperature SENSORS                             ##
################################################################
[include Config/Hardware/Temperature_sensors/Chamber_temp.cfg]
#[include Config/Hardware/Temperature_sensors/PSU_temp.cfg]
################################################################

###################################################
##                 BED HEATER                    ##
###################################################
[include Config/Hardware/Bed_heater/Bed_heater.cfg]
###################################################

###################################################
##                 EXTRUDER                      ##
###################################################
[include Config/Hardware/Extruder/Extruder.cfg]
###################################################

###################################################
##             SUPPORT EXTRUDER                  ##
###################################################
#[include Config/Hardware/Extruder/support_extruder/support_extruder.cfg]
###################################################


###################################################
##                    Fans                       ##
###################################################
[include Config/Hardware/Fans/Hotend_fan_tachometer.cfg]
[include Config/Hardware/Fans/Part_fan.cfg]
[include Config/Hardware/Fans/Controller_fan.cfg]
[include Config/Hardware/Fans/Toolhead_fan.cfg]
###################################################

###################################################
##                   FILTER                      ##
###################################################
[include Config/Hardware/Filter/Nevermore.cfg]
[include Config/Hardware/Fans/exhaust_filter.cfg]
###################################################


###################################################
##                ACCELEROMETER                  ##
###################################################
#[include Config/Hardware/Accelerometer/Resonance_tester.cfg] 
###################################################

###################################################
##                  LightS                       ##
###################################################
[include Config/Hardware/Light/Caselight_generic.cfg]
#[include Config/Hardware/Light/Caselight_neopixel.cfg]
[include Config/Hardware/Light/Stealthburner_leds.cfg]
###################################################

###################################################
##               FILAMENT SENSORS                ##
###################################################
[include Config/Hardware/Extruder/Filament_sensor/Filament_sensor.cfg]
###################################################

###################################################
##               ADDITIONAL HARDWARE             ##
###################################################
[include Config/Hardware/filament_buffer/buffer.cfg]



### Блок программной конфигурации ###
####################################################################
####################################################################
#####                         Software                         #####
####################################################################
####################################################################
[include Config/Software/Firmware_retraction/Firmware_retraction.cfg]
[include Config/Software/Bed_mesh/Bed_mesh.cfg]
[include Config/Software/Screws_tilt_adjust/Screw_tilt_adjust.cfg]
[include Config/Software/Input_shaper/Input_shaper.cfg]
[include Config/Software/Save_z_home/Save_z_home.cfg]
#[include macros/base/homing/homing_override.cfg]
[include Config/Software/KAMP/KAMP_Settings.cfg] 
[include Config/Software/TMC_autotune/TMC_autotune.cfg]
[include Config/Software/Scew_correction/Scew_correction.cfg]
[include Config/Software/pid_calibrate_extra/pid_calibrate_extra.cfg]
#[include Config/Software/Axis_twist_compensation/Axis_twist_compensation.cfg] 
#[include Config/Software/Gcode_arcs/Gcode_arcs.cfg]


#[include Config/Software/Auto_power_off/Auto_power_off_configuration.cfg]

[include Config/Machine.cfg]


[include MCU.cfg]
[include Override.cfg]
[include Variables.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = -0.0012468007339014942
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 16
#*# calibration_15 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQBwkPbY5J+z/3tJ/x/lv9P3b4kIYsaOU/ag26xMC+1z/e+UURD63VP+1wKfDb8rA/8eyYN7EGzr94pU9mItSfv7Ru5fefKMc/CrjzcfRstj+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxCnVQap1e6UPhBtw2cgJpU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1A18YzEpxQbQAGAS1mJHwpAZgb0meSi/D+lL4RF3g79PwJHlCBo3cM/9X64QqRyBsA/5biTIBjvP1z57ZnQcBNAxo+u68Isiz/dY+Rnc2P/v5R0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQOkNuFvEjlT6x2F+K7TOVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUPy2haJcFpU+vpQGgiG0Fz64p7L1UIsGvhdg1RGaE/I9P4rOY/2Dxz0FAQF74uLivXhUkme7Iei9oJj3Ap7h7j2JXxGy9ZHaPc7MFDq54eC9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxBAo3bSxzrVPzQlAjrY7xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz/VOsfSdqNAR0At/jJ+QyRgZYwHZl9yYW5nZZRdlChHQUglz/oCyABHQUh1hEF+iABljAJkY5RLD3Uu
#*# calibration_16 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQ0i38nXZ39T+HX/vCJ+39P5QUUuYyDuo/cQfQVqx9yj+IaqlzqeC5P1wAT3asVOo/iqxI1d5dzT8oEDoxY9/pv0QB/V5bjoY/TShcFmUa2j+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxC2RkGUEfCUPmK+4CvCPJU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1B54fn1/gUbQILOw31AbQpAHEjXtbYu+z9X4yyoDl30P9YlRralU+w/NHVDfYU54b+ScpO+oRrYv02tqFEtg/g/WtlFkp5v6z8bqhZ0lx/Qv5R0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQFtdN0z06lT4ii9+kwkuVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDULsY6eUeKZU+gWeZ079lHz7c63I/2RIQvn92pj5qmeg9vf8+CNqG772VcY31OeUJPqfqE2pMpOI9DKD+S+gPD75078M7twrPvdAiMjmPl/k9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxCYjrCfFGJgP7SM9Qmw/hNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9gYhSfsI6YR0At//CyikSzZYwHZl9yYW5nZZRdlChHQUgKyd3c4ABHQUh0EzTLYABljAJkY5RLEHUu
