
[gcode_macro _USER_VARIABLES]
variable_verbose: True

## START PRINTING VARIABLES
variable_scew_profile_enabled: True
variable_purging_enabled: True
variable_smart_parking_enabled: True
variable_extruder_preheat_enable: True

variable_safe_extruder_temp: 180

variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_z_drop_speed: 20

variable_park_position_xy: 115, 220
variable_park_lift_z: 30

variable_filter_default_time_on_end_print: 600 # seconds
variable_disable_motor_on_end_print: True

variable_fix_heaters_temperature_settle: True


variable_print_default_bed_temp: 100
variable_print_default_extruder_temp: 250
variable_print_default_chamber_temp: 30
variable_print_default_chamber_max_heating_time: 15
variable_print_default_soak: 0
variable_print_default_material: "XXX"

variable_material_parameters: {
        'PLA': {
            'pressure_advance': 0.0525,
            'retract_length': 0.75,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 0,
            'additional_z_offset': 0,
            'filament_sensor': 1
        },
        'PET': {
            'pressure_advance': 0.0650,
            'retract_length': 1.4,
            'unretract_extra_length': 0,
            'retract_speed': 30,
            'unretract_speed': 20,
            'filter_speed': 0,
            'additional_z_offset': 0.020,
            'filament_sensor': 1
        },
        'ABS': {
            'pressure_advance': 0.032,
            'retract_length': 0.8,
            'unretract_extra_length': 0,
            'retract_speed': 20,
            'unretract_speed': 20,
            'filter_speed': 80,
            'additional_z_offset': 0,
            'filament_sensor': 1
        },
        'TPU': {
            'pressure_advance': 0.0500,
            'retract_length': 0.2,
            'unretract_extra_length': 0,
            'retract_speed': 5,
            'unretract_speed': 5,
            'filter_speed': 0,
            'additional_z_offset': 0.040,
            'filament_sensor': 0
        }
    }

variable_light_intensity_startup: 10
variable_light_intensity_start_print: 50
variable_light_intensity_printing: 30
variable_light_intensity_end_print: 5

variable_caselight_on_at_startup: True


gcode:

[save_variables]
filename: config/save_variables.cfg